.aboutUsSectionDttiy {
  background: url(../images/aboutUsSectionEs.png) center center;
  background-position: center;
  background-size: cover;

  .container {
    margin-top: 0;
  }

  h2 {
    color: #fff;
    font-size: 3.125rem;
  }

  p {
    font-size: 1.5rem;
    color: #fff;
  }
}

.aboutUsSectionJotc {
  height: 70vh;
}
