.aboutUsSectionDttiy {
  //   background: url(../images/aboutUsSectionEs.jpg) center center;
  background-color: #be015f;
  h2 {
    color: #fff;
    font-size: 3.125rem;
  }

  p {
    font-size: 1.5rem;
    color: #fff;
  }
}
