.challengeSectionOne {
  background-color: #8719da;

  .tc-wrapper {
    padding: 2rem 0 5rem 0;
    width: 70rem;
    margin: auto;
  }

  h2 {
    color: white;
    font-size: 8vh;
    // margin-bottom: 0;
    text-align: center;
  }

  h4 {
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.75rem;
  }

  .puzzle {
    // margin-top: 2rem;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    h4 {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      bottom: 40vh;
    }
  }
  .tc-card {
    padding: 2rem;
    width: 40rem;
    border-radius: 3.125rem;
    margin: 0rem auto 2rem auto;

    h3 {
      color: white;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    p {
      color: white;
      text-align: center;
      font-size: 2.75vh;
    }
  }

  .pink {
    background-color: #a12ba1;
  }

  .button {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .purple {
    background-color: #602ca8;
  }
}
