.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;

  width: 100%;
  height: auto;
}
.hide-select {
  display: none;
}
.wrap h1 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18,
    -40px -40px 0px rgba(28, 110, 164, 0);
  color: #181b33;
  background: #232323;
  font-size: 47px;
  text-align: center;
  font-family: monospace;
}
.custom-select-bx {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #8c26f3;
  padding: 1.25rem 1.875rem;
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  border-radius: 3.125rem;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.custom-select-bx .arrow-down {
  position: absolute;
  right: 2rem;
  top: calc((100% - 10px) / 2);
  font-size: 1rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 1000;
  border-top: 10px solid #fff;
}

.custom-select-bx:active,
.custom-select-bx.active {
  background-color: #8c26f3;
  color: #fff;
}
.custom-select-bx:active:after,
.custom-select-bx.active:after {
  transform: rotateZ(180deg);
  transition: all 0.5s;
  transform-origin: 50% 25%;
}
.custom-select-bx:focus {
  outline: 2px;
}
.select-options {
  max-height: 200px;
  width: 20rem;
  overflow-y: auto;
  display: none;
  position: absolute;
  top: calc(((100% - 160px) / 2));
  right: calc(100% + 20px);
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 23px 0px rgb(0 0 0 / 75%);
}

@media only screen and (max-width: 480px) {
  .select-options {
    top: calc(100% + 20px);
    right: calc((100% - 20rem) / 2);
  }

  .select .arrow-right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid white;

    border-left: 20px solid transparent;
    top: 100%;
    left: calc((100%-20px) / 2);
  }
}

.select .arrow-right {
  position: absolute;
  padding-left: 15px;
  width: 0;
  height: 0;
  top: 16px;
  left: -20px;
  /* box-shadow: 0px -0px 23px 0px rgba(0, 0, 0, 0.75); */
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1000;
  border-left: 20px solid white;
}

.select-options li {
  color: #000;
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  /* text-align: center; */

  /* text-indent: 15px;
 */
  /* border-top: 1px solid #AED581;
 */
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  padding-left: 15px;
}

.select-options li.active:after {
  position: absolute;
  right: 10px;
  height: 100%;
  content: '\2713';
  display: inline-block;
  color: #3101a5;
  padding: 0 6px 0 0;
}

.select-options li:hover {
  /* background-color: #424242;
  color: #fff; */
  /* background: #fff; */
}
.select-options li[rel='hide'] {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 5px 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9e9e9e;
}

@media only screen and (max-width: 1024px) {
  .select-options {
    top: calc(100% + 20px);
    right: calc((100% - 20rem) / 2);
  }

  .select .arrow-right {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: none;
    border-bottom: 20px solid white;
    top: 100%;
    padding: 0;
    left: calc((100% - 20px) / 2);
    right: auto;
  }
}
