.sectionOne {
  .btn {
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .sectionOne {
    height: calc(100vh - 6vh);
    padding-bottom: 0;
    width: 100vw;

    .wrapper {
      height: 100%;
    }

    .row {
      height: 100%;
      justify-content: space-between;
    }
    .col-md-6:last-child {
      height: 25rem;
    }
    .HomeHeroVideo {
      margin: 0;

      width: 100%;
      height: 100%;

      img {
        margin-top: 17.1%;
        width: 135%;
        margin-left: -5%;
        height: 100%;
      }
    }

    h1 {
      margin-top: 10rem;
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;

      br {
        display: none;
      }
    }

    .btn {
      font-size: 3vh;
    }

    p {
      text-align: center;
      font-size: 1rem;

      br {
        display: none;
      }
    }
    .hero-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .sectionMobile {
    padding-top: 0;
  }

  .sectionThree {
    h2 {
      font-size: 2rem !important;
    }

    h1 {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.25rem !important;
    }

    .homeBoxOne {
      margin-top: -20rem;
    }
  }

  .nav__container {
    .container-fluid {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .fundingSectionOne {
    overflow: hidden;

    height: 80vh;
    .text-center {
      margin-top: 0rem;

      h1 {
        margin-top: -5rem;
        font-size: 2rem;
      }
    }

    img {
      // margin-left: -29vw;
      width: 84vw;
      height: 84vw;
    }
  }

  .fundingSectionTwo {
    height: auto !important;

    h3 {
      text-align: center;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      font-weight: bold;
    }

    li {
      font-size: 1.25rem;
    }
  }

  .fundingSectionThree {
    .monthly .pTableDetailWrap {
      margin: 0;
      margin-right: 0rem;
      margin-top: 0rem !important;
    }

    .monthly .pTableSingleListWrap {
      margin: 0;
      margin-left: -4rem;
    }

    .one-time .pTableDetailWrap {
      margin: 0;
      margin-top: 4rem !important;
      margin-right: 0rem;
    }

    .one-time .pTableSingleListWrap:first-child {
      margin: 0;
      margin-left: -3rem !important;
    }

    .one-time .expandedWrap {
      margin-left: -6rem !important;
    }

    .col-md-3,
    .col-md-2 {
      width: 80%;
      flex: 0 0 80%;
      max-width: 80%;

      .pTableDetailWrap {
        width: 100%;
      }

      .pTableSingleListWrap {
        width: 100%;
      }
    }
  }

  .fundingSectionFour {
    .col-8 {
      flex: auto;
      max-width: 100%;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .sectionContactUs {
    p {
      font-weight: normal;
      br {
        display: none;
      }
    }

    input {
      font-size: 1.25rem !important;
      text-align: center;
      font-weight: bold;
    }

    .select {
      font-size: 1.25rem !important;
    }

    .custom-select-bx {
      display: flex;
      justify-content: center;
      font-size: 1.25rem !important;
    }

    .select-options {
      li {
        font-size: 1.25rem !important;
      }
    }

    select {
      font-size: 1.25rem !important;
    }

    .btn {
      font-size: 1.25rem !important;
    }
  }

  .tokenSectionOne {
    height: 50vh;
    padding-top: 2rem;
    padding-bottom: 0rem;
    h1 {
      margin-top: 0rem;
      font-size: 2.5rem;
      letter-spacing: -0.15rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 3vh;
    }

    .btn {
      font-size: 3vh;
    }
  }

  .tokenSectionTwo {
    height: 40vh;
    padding-bottom: 0vh;

    iframe {
      height: 30vh;
      border-radius: 1.5625rem;
    }

    img {
      border-radius: 1.565rem;
    }
  }

  .tokenSectionFour {
    overflow: hidden;

    .row {
      overflow: 'hidden';
    }
    h1 {
      font-size: 4rem;
    }

    ul {
      li {
        font-size: 1.75rem;
      }
    }
  }

  .tokenSectionFaq {
    .header-section {
      padding-bottom: 2rem;
    }
    h2 {
      font-size: 2.2rem;
    }

    h4 {
      font-size: 1.6rem;
    }

    button {
      font-size: 1.2rem !important;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .tokenSectionFive {
    height: 40vh;
  }

  .tokenSectionThree {
    padding-top: 5vh;
    .placeholder-image {
      width: 100%;
      min-width: 100%;
    }

    .col-md-6 {
      justify-content: center !important;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: bolder;
    }

    p {
      font-size: 1.2rem;
      font-weight: bold;
      br {
        display: none;
      }
    }

    .row {
      flex-direction: column;
    }
  }

  .searchSectionTwo {
    .body {
      margin: 0;
      padding: 0;
    }

    .nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .helpCenterSectionOne,
  .searchSectionOne {
    height: 30vh;

    h1 {
      margin-top: 10vh;
      font-size: 2.75rem;
    }

    form {
      input {
        font-size: 1rem !important;
      }

      .input-group-text {
        font-size: 1rem !important;
      }
    }
  }
  .helpCenterSectionTwo {
    .eyntkBoxs {
      padding-left: 0;
      padding-right: 0;

      .col-md-5 {
        padding: 0 !important;
      }

      .eyntkBoxOne {
        video {
          bottom: -0.1rem;
        }
      }

      .eyntkBox {
        border-radius: 0.75625rem !important;
        width: 25rem;
        height: 25rem;

        h3 {
          font-size: 1.75rem;
        }

        p {
          font-size: 1rem;
          font-weight: bold;
          br {
            display: none;
          }
        }
      }
    }
  }

  .helpCenterSectionThree {
    h2 {
      font-size: 1.75rem !important;
    }

    .article {
      margin-bottom: 1rem;
      .left {
        margin-bottom: 1rem;
      }
      .right {
        h1 {
          text-align: center;
          font-size: 1.25rem;
        }

        p {
          font-size: 1rem;
          text-align: center;
          font-weight: normal;
          br {
            display: none;
          }
        }
      }
    }
  }

  .helpCenterSectionFour {
    .col-10 {
      -moz-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 !important;

      img {
        width: 100%;
      }

      .list {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
      }
    }
    .active {
      font-size: 3.25rem !important;
    }
    .sectionTitleWrap {
      margin-bottom: 3rem;

      h2 {
        font-size: 2rem !important;
      }
    }

    .article-images {
      margin-bottom: 2rem;
    }
  }

  .cryptoSectionTwo,
  .cryptoSectionThree,
  .cryptoSectionFour,
  .cryptoSectionFive {
    height: auto;
  }

  .cryptoSectionOne {
    height: 75vh;
    .row {
      width: 100%;
    }
    h1 {
      font-size: 3rem;
      display: none;
      margin-top: 2rem;
      margin-bottom: 2rem;
      br {
        display: none;
      }
    }

    h2 {
      font-size: 1.5rem !important;
      text-align: center;
    }

    .cryptoTextWrap {
      width: 100% !important;
      input {
        font-size: 1rem !important;
        width: 40% !important;
      }

      .btn {
        font-size: 1rem !important;
        // width: 40% !important;
      }
    }
  }

  .cryptoSectionTwo {
    .container {
      max-width: 95%;
    }
    img {
      height: 4.625rem !important;
    }

    h4 {
      font-size: 1.25rem !important;
    }

    p {
      font-size: 0.875rem !important;
      line-height: 1.5rem !important;

      br {
        display: none;
      }
    }
  }

  .cryptoSectionThree {
    .container {
      max-width: 94%;
      padding-left: 0;
      padding-right: 0;
    }

    .card {
      border-radius: 0.625rem;
    }
    h1 {
      font-size: 1.5rem !important;
    }

    img {
      height: 5rem !important;
    }

    p {
      font-size: 1.25rem !important;
    }

    span {
      font-size: 1rem !important;
    }

    .col-md-3 {
      margin-bottom: 2rem;
    }
  }

  .cryptoSectionFour {
    .col-md-4 {
      width: 100%;
      flex: auto;
    }

    .container {
      max-width: 87.5%;
      padding: 0;
    }

    .steps {
      img {
        height: 5rem !important;
      }

      h4 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem !important;
      }

      p {
        font-size: 0.875rem !important;
        line-height: 1.5rem;

        br {
          display: none;
        }
      }
    }

    .fee {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 2rem !important;
    }
  }

  .cryptoSectionTwo,
  .cryptoSectionFour {
    .card {
      margin-bottom: 1rem;
    }
  }

  .cryptoSectionFive {
    padding: 0;
    .row {
      width: 100%;
    }

    h1 {
      font-size: 1.5rem;
      br {
        display: none;
      }
    }

    img {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }

    .cryptoTextWrap {
      width: 100% !important;
      height: 3rem !important;
      margin-top: 1rem;
      padding-bottom: 0.25rem !important;
      padding-top: 0.25rem !important;
      padding-right: 0.25rem !important;
      input {
        width: 40% !important;
        font-size: 1rem !important;
      }

      .btn {
        height: 2.5rem !important;
        font-size: 1rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        // widtsh: 40% !important;
      }
    }
  }

  .liquiditySectionOne {
    height: auto;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.25rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: bold;

      br {
        display: none;
      }
    }
  }

  .liquiditySectionTwo {
    h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;

      br {
        display: none;
      }
    }
    br {
      display: none;
    }
  }

  .liquiditySectionThree,
  .liquiditySectionFour,
  .liquiditySectionFour,
  .liquiditySectionFive {
    h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
      br {
        display: none;
      }
    }
  }

  .liquiditySectionTwo,
  .liquiditySectionThree,
  .liquiditySectionFour,
  .liquiditySectionFive {
    height: auto;

    .placeholder-image {
      width: 100%;
      min-width: 100%;
    }
  }

  .liquiditySectionFaq {
    h2 {
      font-size: 2rem;
    }

    button {
      position: relative;
      padding: 2rem 0 !important;
      h6 {
        font-size: 1rem !important;
        width: 95%;
        margin-bottom: 0;
        font-weight: bold;
      }

      span {
        position: absolute;
        right: 0;
        top: calc((100% - 2.5rem) / 2);
      }
    }
    .card-body {
      font-size: 1rem !important;
      font-weight: normal;
    }
  }

  .archiveSectionOne {
    .col-12 {
      display: flex;
      justify-content: center;
    }
    h1 {
      font-size: 3.5rem;
      width: 80vw;
    }
    .filters {
      .btn {
        margin-bottom: 2rem;
      }
    }

    .articles {
      width: 100%;
      max-width: 100%;
      flex: auto;

      .article {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        flex: auto;
        .placeholder-image {
          width: 100%;
          min-width: 100%;
        }
      }
    }
  }

  .helpCenterSectionOne,
  .searchSectionOne {
    .col-8 {
      max-width: 100%;
      flex: auto;
    }

    .helpCenterSearchBox {
      width: 100%;
    }
  }

  .helpCenterSectionThree {
    .left {
      margin-bottom: 2rem;
    }
  }
  .helpCenterSectionTwo {
    .col-md-5 {
      flex: auto;
      max-width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .sectionTitleWrap {
      h2 {
        font-size: 2rem;
      }
    }
  }

  .helpCenterSectionFive {
    height: 40vh;
    h2 {
      font-size: 2.5rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    .btn {
      padding: 0.5rem 1.75rem;
      font-size: 1.125rem;
    }
  }

  .helpCenterSectionFour {
    height: 100vh;

    h2 {
      font-size: 3.25rem !important;
    }

    .placeholder-image {
      width: 100%;
      min-width: 100%;
    }
    .col-9 {
      -moz-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
    }

    .body {
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }

      .list {
        padding-left: 0;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .helpCenterSectionFive {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

  .articlesSectionTwo {
    .body {
      padding-left: 0;
      padding-right: 0;
    }

    .collection-header {
      h1,
      h5 {
        text-align: center;
      }
    }
  }

  .articleSectionTwo {
    .article-content {
      padding-left: 0;
      padding-right: 0;
      margin: auto;

      .col-md-8 {
        max-width: 100%;
        flex: auto;
        padding: 0;

        .card {
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          h1 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .sectionTwo {
    height: 120vh;
    .container {
      position: relative;

      .images {
        margin-top: -20rem;
      }

      .col-md-2 {
        position: absolute;
        left: 0;
        height: auto;
        top: 3rem;
        max-width: 25%;

        .sectionTwoContentWrap,
        .sectionTwoList {
          position: relative;
          width: 10rem;
          height: 5.625rem;
        }
      }

      .descriptions {
        position: absolute;
        left: 0;
        height: auto;
        bottom: 6rem;
        max-width: 100%;

        .sectionTwoContentWrap,
        .sectionTwoContent {
          margin-left: 0;
          width: 100%;
          height: auto;
        }
      }
    }

    .fixedBox img {
      // // width: 10.315625rem;
      // // height: 22rem;
      // width: 20.815625rem;
      // height: 44rem;
      // margin-left: -0.25rem !important;
    }

    .fixedBox {
      // margin-left: 2rem;

      img {
        width: auto;
        margin-bottom: 3rem;
        margin-left: 0rem;
        height: 48.3125vh;
      }
    }

    .sectionTwoContentWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      display: flex;
      font-size: 14vw;
      justify-content: center;
      margin-bottom: 0;
      text-align: center;

      .sectionTwoContentLine {
        height: auto;
      }
    }

    .button {
      display: flex;
      justify-content: center;
    }

    p {
      margin-top: 0rem;
      font-size: 6vw;
      text-align: center;
      br {
        display: none;
      }
    }

    .mobImg {
      width: 100%;
    }

    .mobImg .box img {
    }
  }

  .sectionThree {
    .homeBoxOne .card .image {
      right: -17.5rem;
      width: 47rem;

      height: 76rem;
      transform: scale(0.25);
      bottom: -32.5rem;
    }

    .homeBoxTwo .card .text,
    .homeBoxThree .card .text {
      p {
        width: 100%;
      }
    }

    .homeBoxOne .card .hideText,
    .homeBoxTwo .card .hideText,
    .homeBoxThree .card .hideText,
    .homeBoxFour .card .hideText {
      width: 70%;
      display: none;
    }

    .homeBoxOne .card span,
    .homeBoxTwo .card span,
    .homeBoxThree .card span,
    .homeBoxFour .card span {
      display: none;
    }

    .homeBoxTwo .card .image {
      right: -4rem;
      width: 20rem;
      height: 20rem;
      transform: scale(0.75);
      bottom: -4rem;
    }

    .homeBoxThree .card .image {
      right: -6rem;
      width: 28rem;
      height: 28rem;
      bottom: -6rem;
      transform: scale(0.5);
    }

    .homeBoxFour .card .image {
      right: -12rem;
      width: 42rem;
      height: 42rem;
      bottom: -14rem;
      transform: scale(0.375);
    }
  }

  .site-footer {
    .socials {
      margin-bottom: 3.45rem;
    }
  }

  .fundingSectionThree {
    padding-right: 0;
    padding-left: 0;
    .container {
      max-width: 100vw;
    }
    .pTableDetail {
      h3 {
        margin-top: 0;
        // margin-bottom: 1.5rem;
        text-align: center;
      }
      ul {
        margin-top: -0.75rem;
      }
      li {
        display: flex;
        justify-content: center;
      }
    }

    .monthly {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
    }

    .one-time {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
    }

    h3 {
      padding-top: 0 !important;
      font-size: 1.75rem;
    }

    p,
    small {
      font-size: 0.75rem !important;
    }

    li {
      font-size: 1rem !important;
    }

    .btn-outline-dark {
      margin-bottom: 1rem;
    }

    .pTableSingleList {
      padding-bottom: 5rem;
    }

    .pTableSingleListWrap {
      margin-left: 0rem;
    }

    .one-time .pTableDetailWrap {
      border-radius: 3.125rem;
      margin: 0;
      margin-top: 3.85rem;
      margin-bottom: 0rem;
    }

    .one-time .pTableSingleListWrap {
      border-radius: 3.125rem;
      margin: 0;
      margin-bottom: 0rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .monthly .pTableSingleListWrap {
      padding-bottom: 0;
    }

    .monthly .pTableDetail,
    .one-time .pTableDetail {
      padding-top: calc(2rem + 2px);
    }

    .monthly .pTableDetail li {
      line-height: 1.5rem;
    }

    .one-time .pTableSingleList {
      padding-bottom: 0;
    }
  }

  .fundingSectionFour {
    h2 {
      margin-top: 10vh;
    }
  }

  .cryptoSectionFour {
    .fees-section {
      .nav-item {
        .nav-link {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
  }

  .liquiditySectionTwo {
    h2 {
      br {
        display: none;
      }
    }

    p {
      br {
        display: none;
      }
    }
  }

  .tradingBasicSectionThree {
    h2 {
      font-size: 3.25rem;
    }
    .header-section {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    .basic-content {
      flex-direction: column;
      width: 100%;

      .smallCard {
        width: 100%;
        overflow: hidden;
        flex-direction: column;

        .image {
          // padding-left: 1rem;
          width: 100%;
          margin-bottom: 3rem;
          height: auto;
          min-width: 100%;

          img {
            width: 100%;
          }
        }

        .col-md-6 {
          width: 100%;

          .card-body-four-line {
            padding-left: 0;

            h5 {
              font-size: 1.25rem;
              margin-bottom: 0.5rem;
              text-align: center;
            }

            p {
              font-size: 1rem;
              line-height: 1.75rem;
              font-weight: bold;
              text-align: center;
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .tradingBasicSectionFour {
    margin-top: -5vh;
    height: 40vh;
    padding: 1rem 0;
    margin-bottom: 5vh;
    h4 {
      br {
        display: none;
      }
    }

    .row {
      padding: 1rem 0;
    }
  }
  .fundingSectionFour {
    .card-body {
      font-size: 2.5vh;
    }
  }

  .fundingSectionFour .card-header button {
    display: flex;
    align-items: center;
    p {
      font-size: 1.2rem !important;
      margin-bottom: 0;
    }
  }

  .aboutUsSectionOne {
    height: 65vh;
    padding-top: 0;

    h1 {
      font-size: 3.25rem;
      margin-bottom: 5rem;
    }

    .row {
      padding-top: 0;
    }

    .aboutUsSectionOneTitle {
      padding: 0;
    }

    .aboutUsSectionOneImg {
      width: 100%;
      img {
        width: 100%;
        height: 30vh;
      }
    }
  }

  .aboutUsSectionEs {
    height: 60vh;
    padding-top: 1rem;
    margin-top: 5.5vh;
    padding-bottom: 14.5rem;

    h2 {
      font-size: 2.5rem;
    }
    .owlEs {
      width: 90vw;
      height: 100vw;
      .aboutSlider .item {
        padding: 5.5rem 0 3.5rem 0;
      }

      .aboutSlider .owl-dots .owl-dot:nth-child(1) {
        position: absolute;
        top: 0;
        left: 40%;
      }

      .aboutSlider .owl-dots .owl-dot:nth-child(4) {
        position: absolute;
        bottom: 0;
        left: 40%;
      }

      .owl-carousel {
        height: 100%;
        width: 100%;

        h3 {
          font-size: 1.25rem;
        }

        p {
          font-size: 0.75rem;
        }
      }
    }
  }

  .aboutUsSectionThree {
    height: auto;
    padding: 1rem 0;

    .col-10 {
      width: 100%;
      max-width: 100%;
      flex: auto;
    }

    h2 {
      font-size: 2.5rem;
    }

    .col-md-5 {
      padding: 0 !important;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .aboutUsSectionJotc {
    height: 50vh;
    h2 {
      font-size: 2.5rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    .btn {
      padding: 1vh 3vh;
      font-size: 3vh;
    }
  }

  .blogSectionTwo {
    .container {
      overflow: hidden;
    }
    br {
      display: none;
    }
  }

  .blogSectionOne {
    padding-bottom: 5rem;
    .container {
      overflow: hidden;
    }
    .cord {
      display: none;
    }

    h1 {
      text-align: center;
    }

    .row {
      width: 100vw;
    }

    .smallCard {
      width: 100%;
      margin-bottom: 2rem;

      .card-body {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .placeholder-image {
        width: 100%;
        min-width: 100%;
      }
    }
  }

  .archiveSectionOne {
  }

  .customersSectionOne {
    // overflow: hidden;

    .container {
      max-width: 90vw;
      padding-top: 6.5rem;
      .video-section {
        iframe {
          height: 30vh;
        }
      }

      .video-slider {
        .next-button,
        .prev-button {
          top: calc((100% - 3rem) / 2);

          z-index: 3;
          i {
            font-size: 3rem;
          }
        }
        .next-button {
          right: -1.25rem;
        }
        .prev-button {
          left: -1.25rem;
        }
        .slider {
          // width: 90%;
          .slide {
            width: calc((100% - 2vw) / 2);
            min-width: calc((100% - 2vw) / 2);
            border-radius: 0.78125rem;

            img {
              border-radius: 0.78125rem;
            }

            i {
              top: calc((100% - 2rem) / 2);
              left: calc((100% - 2rem) / 2);
              font-size: 2rem;
            }
          }
        }
      }
    }
    h1 {
      font-size: 2.5rem !important;
      br {
        display: none;
      }
    }
  }

  .customersSectionTwo {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    .container {
      h2 {
        font-size: 2.5rem !important;
        br {
          display: none;
        }
      }
      max-width: 90vw;
    }
  }

  .customersSectionThree {
    overflow: hidden;
    height: auto;
    .container {
      // padding-top: 0.5rem;
      padding-bottom: 2.5rem;
      .next-button,
      .prev-button {
        top: calc((100% - 3rem) / 2) !important;

        z-index: 3;
        i {
          font-size: 3rem !important;
        }
      }
      .next-button {
        right: -1.25rem !important;
      }
      .prev-button {
        left: -1.25rem !important;
      }
      h2 {
        font-size: 2.5rem;
        text-align: center;
        br {
          display: none;
        }
      }
      h4 {
        font-size: 2rem;
        text-align: center;
        br {
          display: none;
        }
      }
      max-width: 90vw;

      .slider {
        grid-template-columns:
          calc((100% - 2vw) / 2) calc((100% - 2vw) / 2)
          calc((100% - 2vw) / 2) calc((100% - 2vw) / 2) calc((100% - 2vw) / 2)
          calc((100% - 2vw) / 2) calc((100% - 2vw) / 2) calc((100% - 2vw) / 2)
          calc((100% - 2vw) / 2) calc((100% - 2vw) / 2) calc((100% - 2vw) / 2)
          calc((100% - 2vw) / 2) calc((100% - 2vw) / 2) calc((100% - 2vw) / 2) !important;
      }

      .slide {
        width: 100%;
        // width: calc((100% - 2vw) / 2) !important ;
        // min-width: calc((100% - 2vw) / 2) !important;
        border-radius: 0.78125rem !important;
        height: calc(1.75 * (((70vh - 30px) - 4vw) / 3)) !important;

        img {
          width: 100% !important;
          border-radius: 0.78125rem;
        }
      }
    }
  }

  .customersSectionFour {
    padding-top: 0rem;
    padding-bottom: 5rem;
    .container {
      max-width: 90vw;

      p {
        font-size: 2rem !important;
        text-align: center;
      }

      .bubble {
        padding: 2rem;
        border-radius: 3.125rem;
      }

      .btn {
        border-radius: 5vh;
        padding: 1vh 3vh;
        font-size: 3vh;
      }
    }
  }

  .landingSectionOne {
    .container {
      .col-md-5 {
        margin-bottom: 4rem;
      }

      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }

      .inputWrap {
        width: 80vw;
      }

      .col-12 {
        margin-left: 0;
        margin-right: 0;
      }

      form {
        margin: auto;
      }

      .button {
        display: flex;
        justify-content: center;
      }
    }
  }

  .landingSectionTwo {
    .btn-outline-dark {
      margin-bottom: 1rem;
    }

    .pTableDetailWrap {
      width: 100%;
      margin-bottom: 1rem !important;
      margin-right: 0rem !important;
    }

    .pTableSingleListWrap {
      margin-bottom: 1rem !important;
      margin-left: 0rem !important;
    }
  }
}

@media only screen and (max-width: 480px) and (min-height: 726px) and (max-height: 890px) {
  .sectionOne {
    .HomeHeroVideo {
      img {
        margin-top: 32.1%;
      }
    }
  }
}

@media only screen and (max-width: 480px) and (min-height: 635px) and (max-height: 726px) {
  .sectionOne {
    .HomeHeroVideo {
      img {
        margin-top: 14.7%;
      }
    }
  }
}

@media only screen and (max-width: 480px) and (min-height: 708px) and (max-height: 726px) {
  .sectionOne {
    .HomeHeroVideo {
      img {
        margin-top: 17.1%;
      }
    }
  }
}

@media only screen and (max-width: 480px) and (max-height: 700px) {
  .sectionOne {
    .HomeHeroVideo {
      img {
        margin-top: 10.1%;
      }
    }
  }
}

@media only screen and (max-width: 660px) and (max-height: 700px) {
  .sectionOne {
    .HomeHeroVideo {
      img {
        margin-top: 14.1%;
      }
    }
  }
}

@media only screen and (max-width: 480px) and (min-height: 850px) and (max-height: 885px) {
  .sectionOne {
    .HomeHeroVideo {
      img {
        margin-top: 35.1%;
      }
    }
  }
}
