.signUpSectionOne {
  .text-center {
    padding-top: 8.5vh;
    margin: auto;
    margin-bottom: 7.5vh;

    h1 {
      text-align: center;
      font-weight: bolder;
    }
  }

  nav.signup {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .link-row {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;

    a {
      font-size: 3vh;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .page-options {
    display: flex;
    flex-direction: column;
    width: 30vw;

    margin: auto;
    align-items: center;
    .page-option:first-child {
      margin-top: 0rem;
    }
    .page-option {
      display: flex;
      width: 100%;
      //   margin-left: -8rem;
      align-items: center;
      //   margin-top: -2rem;
      margin-bottom: 4rem;
      img {
        height: 6rem;
        width: auto;
        margin-right: 2rem;
      }
      .column {
        display: flex;
        // margin-left: -5.5rem;
        flex-direction: column;
        flex: 1;
        h4 {
          padding-left: 0.5rem;
          font-size: 1.5rem;
        }

        .btn {
          padding: 1vh 3vh;
          font-size: 2.75vh;
          flex-wrap: nowrap;
          font-weight: normal;
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            width: 1.75rem;
            height: 1.75rem;
          }
        }
      }
    }

    .page-option:first-child {
      margin-top: 0rem;
    }
  }
}
