.tokenSectionFour {
  background-color: #db0e72;
}

.tokenSectionTwo {
  img {
    // border-radius: 2.5rem;
  }
}

.tokenSectionSlRight {
  .item {
    margin: 2rem 0;
  }
}

.tokenSectionThree .container {
  margin: 0 auto;
}

.tokenSectionOne {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}
