.tokenSectionFour {
  background-color: #db0e72;
}

.tokenSectionTwo {
  .text-center {
  }
  img {
    // width: 130vh;
    height: 100%;
    border-radius: 5vh;
    // border-radius: 2.5rem;
  }
}

.tokenSectionSlRight {
  .item {
    margin: 1.25rem 0;
  }
}

.tokenSectionThree .container {
  margin: 0 auto;
}

.tokenSectionOne {
  height: 60vh;
  padding: 3rem 0;
  .container {
    margin-top: 0;
  }
  h1 {
    font-size: 8vh;
  }

  p {
    margin-top: 5vh;
    margin-bottom: 7vh;
    font-size: 3.5vh;
  }

  .btn {
    border-radius: 5vh;
    padding: 1vh 3vh;
    font-size: 3vh;
  }

  .row {
    padding: 3rem 0;
  }
}

.tokenSectionTwo {
  height: 100vh;
  padding-bottom: 10rem;

  iframe {
    width: 100%;
    height: 40vw;
    border-radius: 3.125rem;
  }
}

.tokenSectionThree {
  padding-top: 3rem;
  padding: 1rem 0;

  .row:first-child {
    margin-bottom: 5rem;
  }

  .col-md-6:first-child {
    padding: 0;
    justify-content: flex-start;
  }

  .col-md-6:last-child {
    padding: 0;
    justify-content: flex-end;
  }

  h2:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.tokenSectionSl ul li {
  color: #ddd;
}

.tokenSectionFour {
  padding: 10rem 0;
  h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
  }

  .active {
    color: white;
  }

  .row {
    overflow-y: hidden;
    max-height: 45rem;
  }

  img {
    width: 40rem;
    height: 24rem;
    margin-top: -5.5rem;
    margin-right: -1.95rem;
  }

  ul {
  }
}

.tokenSectionFaq {
  height: 80vh;
  padding: 3rem 0;
  .header-section {
    padding-bottom: 3rem;
  }
  h2 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3rem;
    text-align: center;
  }

  .card-body {
    font-size: 2.5vh;
  }
}

.tokenSectionFive {
  height: 80vh;
  margin-bottom: 10vh;
}

.tokenSectionFive {
  padding: 2rem 0;
}
